<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prayag.forecastsearch" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="com.facebook.sdk.ApplicationID"
            android:value="@string/app_id"
            >
            
        </meta-data>
        
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar"
            >
            
        </activity>
        
        <provider
            android:authorities="com."
            android:name=""
        
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".results"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.prayag.forecastsearch.results" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".details" >
            <intent-filter>
                <action android:name="com.example.prayag.forecastsearch.details" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".about" >
        </activity>
        <activity
            android:name=".map"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
